[project]
	description = Java API for Weblate
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Markus Flingelli (mflingelli)
[access "refs/for/refs/*"]
	read = group user/Markus Flingelli (mflingelli)
	push = group user/Markus Flingelli (mflingelli)
	label-Code-Review = -2..+2 group user/Markus Flingelli (mflingelli)
	label-Verified = -1..+1 group user/Markus Flingelli (mflingelli)
	rebase = group user/Markus Flingelli (mflingelli)
	removeReviewer = group user/Markus Flingelli (mflingelli)
	submit = group user/Markus Flingelli (mflingelli)
[access "refs/heads/*"]
	read = group user/Markus Flingelli (mflingelli)
	create = group user/Markus Flingelli (mflingelli)
	push = +force group user/Markus Flingelli (mflingelli)
	pushMerge = group user/Markus Flingelli (mflingelli)
[access "refs/tags/*"]
	push = group user/Markus Flingelli (mflingelli)
	push = +force group user/Markus Flingelli (mflingelli)
